{% extends "base.html" %}

{% block content %}

<h2>{{ category.name }}</h2>

<ul>
    {% for category in categories %}
        <li>
            <a href="{% url 'book_list' categort.id %}">{{ category.name }}</a>
        </li>
    {% endfor %}
</ul>

<ul>
    {% for book in book_in_category %}
        <li>
            <h1>{{ book.name }}</h1>


            <h2>Obrázky:</h2>
            <ul>
                {% for image in book.image.all %}
                    <li>
                        <img src="{{ image.image.url }}" alt="{{ image.description }}">
                    </li>
                {% endfor %}
            </ul>
    {% endfor %}


</ul>

{% endblock %}
