* {
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #800000;
}
footer {
  text-align: center;
}

nav {
  margin-bottom: 10px;
}

p {
  display: flex;
  align-items: center;
}

.headContainer {
  height: 150px;
  width: 110vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffd700;
  font-size: 0.7em;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.headContainer-center {
  color: white;
  width: 50%;
  text-align: left;
  margin: 10px;
}

.navContainer1,
.navContainer2 {
  height: 30px;
  width: 5vw;
  display: flex;
  justify-content: flex-end;
  padding: 00px 25px;
  padding-top: 300px;
  align-items: center;
}

.button-images {
  display: flex;
  background: white;
  color: black;
  width: 180px;
  align-items: center;
}

.img {
  width: 300px;
  height: 300px;
  margin-bottom: 101px;
  margin-top: 101px;
  margin-right: 25%;
}

.img1,
.img2,
.img-login {
  height: 40px;
  width: 40px;
  display: flex;
}


.saleImage {
  width: 200px;
  height: 200px;
  margin-left: 250px;
  margin-bottom: 300px;
}

.images-large-appliances,
.images-small-appliances,
.images-category-TV {
  width: 10px;
  height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-large-appliances,
.button-small-appliances,
.button-category-TV {
  width: 120px;
  height: 130px;
  text-align: center;
}

.login,
.profile {
  margin-bottom: 288px;
  margin-left: 7px;
}


.nextButton {
  margin-left: 10px;
  margin-bottom: 1px;
}

.previousButton {
  margin-left: 10px;
  margin-bottom: 2px;
}

button {
  background: white;
  color: black;
  width: 79px;
  border-radius: 5px;
  transition: linear .3s;
  cursor: pointer;
  border: 2px solid black;
  margin-right: 130px;
  margin-bottom: 10px;
}

.search-container {
  position: relative;
  display: inline-block;
  padding: 10px;
  padding-right: 60px;
  padding-top: 30px;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
  padding-right: 60px;
  padding-top: 30px;
}
.imagcen
{
background = flex;

}